body {
    text-align: center;
    height: 100%;
    margin: 0;
    background-color: lightcyan;
    background-image: url("./assets/images/tamagotchi-background-day.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 75px;
    border: 10px solid white;
    text-align: center;
    border-radius: 100px;
}

#pet-name {
    font-family: 'Pixelify Sans', sans-serif;
}

#status-checks {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

#status-checks p {
    margin: 5px 0;
}

#activity-buttons {
    
}

@keyframes moveLeftAndRight {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}

#pet-avatar {
    max-width: 100%;
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 10px;
    animation: moveLeftAndRight 3s infinite;
}